spring:
  datasource:
    url: "jdbc:mysql://${MYSQL_SERVICE_HOST:localhost}:${MYSQL_SERVICE_PORT_MYSQL:3306}/${MYSQL_DATABASE:imonitdb}"
    username: ${MYSQL_USER:developer}
    password: ${MYSQL_PASSWORD:developer}
    driverClassName: com.mysql.jdbc.Driver

  jpa:
    hibernate.ddl-auto: update
    show-sql: true

logging:
  level:
    org:
      hibernate:
        type: trace